<div
  class="dialog-wrap"
>
  <h2
  class="dialog-title"
  >
    <mat-icon>
      manage_accounts
    </mat-icon>
    Gerenciar Funções
  </h2>
  <P
    class="dialog-subtitle"
  >
    {{ data.user.fullName }} - {{ data.user.email }}
  </P>

  <mat-divider></mat-divider>
  <div
  class="dialog-body"
  >
    <mat-form-field
      appearance="outline"
      class="full-w"
    >
      <mat-label>
        Funções atribuídas
      </mat-label>
      <mat-select
        ngModel="selectedRoles"
        multiple
      >
        @for (role of availableRoles; track role) {
          <mat-option
            [value]="role"
          >
            {{ role }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div
    class="dialog-actions"
  >
    <button
      mat-button
      (click)="dialogRef.close()"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="loading"
    >
      @if (loading) {
        <mat-progress-spinner
          diameter="18"
          color="accent"
          mode="indeterminate"
        ></mat-progress-spinner>
      }
      Salvar
    </button>
  </div>
</div>
